.home-cards {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.home-card {
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home-card p {
    font-size: 1.2rem;
}